{
  "name": "afb-hackaton",
  "no-ldpaths": true,
  "port": 1234,
  "alias": ["/devtools:/usr/share/afb-ui-devtools/binder"],
  "monitoring": true,
  "binding": [
    {
        "uid": "reader",
        "path": "$BUILDDIR/reader/libreader.so",
        "info": "reader"
    },
    {
        "uid": "shadow",
        "path": "$BUILDDIR/apps/libshadow.so",
        "info": "shadow app",
    },
    {
        "uid": "release",
        "path": "$BUILDDIR/apps/librelease.so",
        "info": "release app",
    },
    {
        "uid": "compare",
        "path": "$BUILDDIR/compare/libcompare.so",
        "info": "compare",
    }

  ],
}
